# Rust
/target

# Flutter
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Private Engines
sensor-studio-engines/

# Ignore everything in core/config/
core/config/*

# Except the example config file
!core/config/runtime.toml.example